.board {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-hello {
  font-family: var(--font-heading);
  font-size: 2rem;
  padding: var(--space-l);
  border-radius: var(--radius);
  background: var(--color-surface);
  backdrop-filter: blur(var(--blur));
  box-shadow: var(--shadow);
}
